$breakpoint-1px: 1px;
$breakpoint-sm: 600px;
$breakpoint-md: 900px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1800px;


@mixin media($devices) {
    @if $devices == mobile {
        @media screen and (max-width: calc($breakpoint-sm - $breakpoint-1px)) {
            @content;
        }
    }
    @else if $devices == tablet-potrait {
        @media screen and (min-width: $breakpoint-sm) and (max-width: calc($breakpoint-md - $breakpoint-1px)) {
            @content;
        }
    }
    @else if $devices == tablet-lanscape {
        @media screen and (min-width: $breakpoint-md) and (max-width: calc($breakpoint-lg - $breakpoint-1px)) {
            @content;
        }
    }
    @else if $devices == desktop {
        @media screen and (min-width: $breakpoint-lg) and (max-width: calc($breakpoint-xl - $breakpoint-1px)) {
            @content;
        }
    }
    @else if $devices == desktop-fhd {
        @media screen and (min-width: $breakpoint-xl) {
            @content;
        }
    }
}